body {
  margin: 0px;
  padding: 0px;
  background: #4fd9fc;
  color: rgb(223, 144, 41);
  font-family: 'Times New Roman', Times, serif;

}

#container {
  width: auto;
  overflow: auto;
  margin: 40px auto;
  background-color: rgb(57, 95, 92);
  margin-right: 50px;
  margin-left: 50px;
  padding-bottom: 40px;
  border-radius: 10px;
}

.play-board .play-board-title {
  text-align: center;
  color: rgb(223, 144, 41);
  font-size: 30pt;
  padding: 10px;
}

.play-board td {
  width: 100px;
  height: 100px;
  border: solid 5px rgb(44, 3, 3);
  text-align: center;
  font-size: 40pt;
  border-radius: 10px;
  box-sizing: border-box;
}

.play-board td:hover {
  background-color: rgb(165, 158, 65);
  cursor: pointer;
}

.play-board {
  border: solid 10px #333;

}

.play-board .player {
  float: left;
  text-align: center;
  width: 25%;
}

.play-board .player .selected {
  border-bottom: solid 4px #00fa9a;
}

.tictactoe-board {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  padding-top: 20px;
}

.tictactoe-board table {
  float: left;
  width: 50%;
}

.tictactoe-board-score1 {
  float: left;
  width: 20%;
}

.tictactoe-board-score2 {
  float: left;
  width: 20%;
}

.clear-fix {
  clear: both;
}

#replay {
  border: 0;
  background: rgb(148, 43, 43);
  color: #fff;
  width: 50%;
  padding: 15px;
  border-radius: 5px;
}

#replay:hover {
  cursor: pointer;
  background: rgb(44, 3, 3);
}

footer {
  display: block;
  text-align: center;
  padding-top: 20px;
}

/* #play-board li {
  float: left;
  margin: 10px;
  height: 70px;
  width: 70px;
  font-size: 55px;
  background-color: rgb(165, 158, 65);
  color: #000;
  list-style: none;
  text-align: center;
  border-radius: 5px;

} */

/* #play-board li:hover {
  cursor: pointer;
  
} */




/* .o {
  color: rgb(117, 24, 136) !important;
}

.x {
  color: red !important;
} */



/* 
.omark {
  background-image: url("../images/o.png");
  background-position: center;
  background-repeat: no-repeat;
}

.xmark {
  background-image: url("../images/x.png");
  background-position: center;
  background-repeat: no-repeat;
} */